################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Serwer TCP/.vs/Serwer TCP/v15/Browse.VC.opendb
/Klient TCP/.vs/Klient TCP/v16/Browse.VC.opendb
/Serwer TCP/.vs/Serwer TCP/v16/Browse.VC.opendb
